body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    text-align: center;
    margin-bottom: 20px;
}

.input-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-container .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-container input[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-container input[type="button"]:hover {
    background-color: #0056b3;
}

.todoList {
    list-style-type: none;
    padding: 0;
}

.todoList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s;
}

ul li:hover {
    background-color: lightgray;
}

.todoList li:last-child {
    border-bottom: none;
}

.todoList li button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todoList li button.edit {
    background-color: rgb(216, 164, 10);
    margin-right: 20px;
}

.todoList li button:hover {
    opacity: 0.8;
}

ul li p{
    flex-grow: 1;
    padding: 2px;
}